*{
    margin:0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
button{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.link-op{
    color: #000066;
}
.link-op:hover{
    color: #000066;
    background-color: #ebebe0;
}
.link-op:after{
    color: #000066;
}
@media screen and (max-width: 1920px){
    .navbar {
        width: 100%;
        margin: auto;
        padding: 2% 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 17px ;
        background: #2271b3;
    }
    .navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 15px;
        position: relative;

    }
    .navbar ul li a{
        text-decoration: none;
        color:#fff;
        text-transform: uppercase;
    }
    .navbar ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #fff;
        position: absolute;
        left:0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navbar ul li:hover::after{
        width: 100%;
    }
    .dropbtn {
        background: #2271b3;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        background: transparent;
        color: #fff;
        display: none;
        position: absolute;
        min-width: 200px;
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background: #2271a6;}
    .dropdown:hover .dropdown-content {display: block; background: #2271b6;}
    .dropdown:hover .dropbtn {background: #2271b6;}
    body{
        background-color: #faf7f3;
    }
    .titolo{
        margin:-5%;
        padding: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align:center;
        font-size: 40px;
        margin-top:5%;
        color: black;
        top: 50%;
    }
    .mala{
        width: 48%;
        height: auto;
        background-color: white;
        border-radius: 3%;
        margin-top: 10%;
        margin-left: 24%;
        opacity: 0.7;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        color: #000066;
        text-align:auto;
        top: 50%;
        padding: 30px;
    }
    #small-screen{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}
@media screen and (max-width: 1070px){
    body {
        background-color: #faf7f3;
    }
    .titolo{
        margin:0;
        padding: 10%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align:left;
        font-size: 25px;
        margin-top:40%;
        top: 50%;
    }
    h1{
        color:#fff;
    }
    #img{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #full-screen{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    button{
        position: static;
        font-size: 30px;
        color: #000066;
    }
    #small-screen{
        background: #2271b6;
        width: 40%;
        position: relative;
        top: 15px;
        left: 60%;
        font-size: 17px;
    }
    .mala{
        width: 80%;
        margin-left: 5%;
    }
    .p-desc{
        margin: 0;
        width: 90%;
    }
}
